<head>
    <title>
        IDEAAL Alumni Tracker - Help
    </title>

    <style>
        h1 {
            font-size: 24px; 
            font-weight: bold;
        }

        h2 {
            font-size: 18px;
            font-weight: bold;
        }

        h3 {
            font-size: 14px;
            font-weight: bold;
        }
    </style>
</head>

<br><br>

<p>
    For a printable version of this information, <a href="https://docs.google.com/document/d/159bE-XHDSPbQ8i-4jvT-z7aF3Hnn64nLZLgwF5YSsY4/edit?usp=sharing">CLICK HERE<a>.
</p>

<br>

<h1>Getting Help</h1><br>

<h2>Bug/Issue Reporting Ticket Submission</h2>

<p>
    If you are running into a bug in the application, please let us know by submitting a ticket using this <a href="https://forms.gle/rmZaLCaZTiy9NZ2t5">form</a>!
</p><br>

<h2>Frequently Asked Questions</h2>
<p>
    This section contains questions we either expect to come up often or questions that we have often
    seen come through using the Bug/Issue Ticket Submission Form found above. This section will be updated
    throughout the maintenance period until the project is closed (at the end of the TAMU Fall 2023 Semester).

    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<b>Question 1</b>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;Answer 1

    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<b>Question 2</b>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;Answer 2
</p><br>

<% if current_user and current_user.email =="admin@gmail.com"%>

    <h2>Project Team Members</h2>
    <p>
        Listed below are the member of the team which originally developed the application.
        If there is any urgent issue that you (as an administrator) need help with right
        away, please do not hesitate to contact the original product owner at his the email
        cyrus.buhariwala@tamu.edu. Please be aware this since this is a project tied to a
        semester, we are not obligated to make changes to the application after the Fall
        2023 semester.
        <br>
        <br><b>Cyrus Buhariwala:</b> Product Owner
        <br><b>Sami Amin:</b> Data Designer & Scrum Master
        <br><b>Nick Cheng:</b> Back End Developer
        <br><b>Yonghwan Kim:</b> Front End Developer
    </p><br>

    <br>

    <h1>Administrator Functions</h1><br>

    <h2>Creating a Mentor-to-Mentee Assignment</h2>
    <p>
        This section will contain information on how to create a Mentor-to-Mentee connection.
    </p><br>

    <h2>Archiving a Year’s Mentor/Mentee Data</h2>
    <p>
        This section will contain information on how to push forward into a new academic year and
        leave the old family tree in an archived state.
    </p><br>

    <br>

    <h1>Heroku</h1><br>

    <h2>What is Heroku?</h2>
    <p>
        Heroku is a service used to host the IDEAAL Alumni Tracker application. It is the centralized
        location that brings all components required to run the application together. This is the most
        important service that keeps this application running for IDEAAL.
    </p><br>

    <h2>Accessing Heroku</h2>
    <p>
        1. Visit <a href="https://id.heroku.com/login">https://id.heroku.com/login</a><br>
        2. Sign in with credentials provided during the application transfer process<br>
        3. Click on ‘ideasianamerican-alumni’<br>
    </p><br>

    <h2>Getting the Link to the Application</h2>
    <p>
        1. Go to the app on Heroku<br>
        2. There are 2 ways to get the link:<br>
        &nbsp;&nbsp;&nbsp;&nbsp; a. In Heroku itself<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; i. Go to the ‘Settings’ tab<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ii. Scroll to the bottom until you can see the ‘Domains’ section<br>
        &nbsp;&nbsp;&nbsp;&nbsp; b. Open the Application itself and get the URL<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; i. Click on the ‘Open App’ button (can be accessed from anywhere in the app in Heroku<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ii. You will be directed to the IDEAAL Alumni Tracker application on a new tab and then you can copy the URL
    </p><br>

    <h2>Application Specifics</h2>
    <p>
        Below are specifics on how the application is run and all the different topics we, as developers,
        think you should be aware of in case you want to work on the application in the future. That being
        said, everything has been set up by us before the transfer of ownership of this application and
        additional work needs to be done. If there are additional questions in the future, you can reach
        out to us for help.
    </p><br>

    <h3>Application Deployment</h3>
    <p>
        We have set up the application to automatically deploy whenever the ‘main’ branch of the repository
        has been updated (through pull requests on GitHub). However, if there is ever a need to manually
        re-deploy the application, then follow the steps below:<br><br>

        1. Click on the ‘Deploy’ tab<br>
        2. Scroll to the bottom and click on ‘Deploy Branch’<br>
        3. The application will start building and get ready for re-deployment<br>
        &nbsp;&nbsp;&nbsp;&nbsp; a. The application will start building and get ready for re-deployment<br>
        4. When the build is done and re-deployment is successful, you should see something like this:<br>
        &nbsp;&nbsp;&nbsp;&nbsp; a. <i>image coming soon</i><br>
        5. If the build failed, you could go to the ‘Activity’ tab and view the logs of the build and re-deployment to see what went wrong<br>
        &nbsp;&nbsp;&nbsp;&nbsp; a. There are times when the building phase would succeed but the deployment phase would fail<br>
    </p><br>

    <h3>Adding Access</h3>
    <p>
        If you have people you want to give access to in order to further develop this project, you can give their Heroku accounts access to the ‘ideasianamercican-alumni’. This will allow them to view and make changes to this app on their Heroku account.

        1. Go to the ‘Access’ tab<br>
        &nbsp;&nbsp;&nbsp;&nbsp; a. You should see a list of names who have access to this app on Heroku. It should look similar to this image:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; i. image coming soon<br>
        2. Click on ‘Add collaborator’<br>
        3. Add the email address of the Heroku account you want to give access to and click the ‘Save Changes’ button.<br>
        4. This will send an email to the person you want to give access to, telling them that they have been given access to the
        application on Heroku. When they log into Heroku with their credentials, they should see the ‘ideasianamercican-alumni’ app.
    </p><br>

<% end %>
