<div class="dropdown">
  <button class="dropbtn">2027-2028</button>
  <div class="dropdown-content">
  	<% @group_year.each do |g_year| %>
		<% if g_year.year == "2022" %>
			<a href='/year/_2022'>2022-2023</a>
		<% end %> 
		<% if g_year.year == "2023" %>
			<a href='/year/_2023'>2023-2024</a>
		<% end %> 
		<% if g_year.year == "2024" %>
			<a href='/year/_2024'>2024-2025</a>
		<% end %> 
		<% if g_year.year == "2025" %>
			<a href='/year/_2025'>2025-2026</a>
		<% end %> 
		<% if g_year.year == "2026" %>
			<a href='/year/_2026'>2026-2027</a>
		<% end %> 
		<% if g_year.year == "2027" %>
			<a href='/year/_2027'>2027-2028</a>
		<% end %> 
		<% if g_year.year == "2028" %>
			<a href='/year/_2028'>2028-2029</a>
		<% end %> 
		<% if g_year.year == "2029" %>
			<a href='/year/_2029'>2029-2030</a>
		<% end %> 
		<% if g_year.year == "2030" %>
			<a href='/year/_2030'>2030-2031</a>
		<% end %> 
	<% end %>  
  </div>
</div>

<div class="tree">

	<h1>IDEAAL Family Tree</h1>


		<div class="director">
			<ul class="list-group">
				<h2> Directors </h2>
				<% get_directors_for_year(@year).each do |user| %>
					<li class="list-group-item"><%= user.first_name %> <%= user.last_name%> </li>
				<% end %>  
			</ul>
		</div>
		<div class="group">
			<% get_groups_for_year(@year).each do |dg| %>
				<ul class="list-group">
					<li class="list-group-item"><h3>Mentors: </h3><%= dg['mentor'].join(' & ') %></li>
					<div class="downwards">
						<span class="vertical-line"></span><p><i class="arrow down"></i></p>
					</div>
					<li class="list-group-item"><h3>Mentees: </h3><%= dg['mentee'].join(' | ') %></li>
				</ul>
			<% end %>
		</div>

</div>