<%= get_groups_for_year("2022") %>
<div class="tree">
	<div class="director">
		<ul class="list-group">
			<% @directors.each do |user| %>
				<li class="list-group-item"><%= user.first_name %> <%= user.last_name%> </li>
			<% end %>  
		</ul>
	</div>
	<div class="group">
		<div class="group_l">
			<% @arr_groups.each do |group| %>
				<ul class="list-group">
				<% group.each do |member| %>
					<li class="list-group-item"><%= member %></li>
				<% end %>
				</ul>
			<% end %>
		</div>
	</div>
</div>

<%# <% assignments = Hash.new() %>
	<%# <% @mentor_assignments.each do |m_ass| %> 
			<%# <% if assignments.has_key?(m_ass.Mentor_id) then %> 
					<%# <% assignments[m_ass.Mentor_id].push(m_ass.Mentee_id) %> 
			<%# <% else %> 
					<%# <% assignments[m_ass.Mentor_id] = Array.new(1, m_ass.Mentee_id) %> 
			<%# <% end %> 
	<%# <% end %>  
