<head>
    <title>
        IDEAAL Alumni Tracker - About
    </title>

    <style>
        h1 {
            font-size: 24px; 
            font-weight: bold;
            margin-left: 70px;
            margin-right: 70px;
        }
        h2 {
            font-size: 18px;
            font-weight: bold;.
            margin-left: 70px;
            margin-right: 70px;
        }
        h3 {
            font-size: 14px;
            font-weight: bold;
            margin-left: 70px;
            margin-right: 70px;
        }
        p {
            font-size: 12px;
            margin-left: 70px;
            margin-right: 70px;
        }
    </style>
</head>

<br><br>

<h1>About</h1>

<p>
    This web app was created by a group of 4 developers as a semester-long
    project for the class CSCE 431 (Software Engineering) at Texas A&M University.
    Initially, the site began as a site used to simply keep contact info of
    current and former members of The Institute for the Development and Education
    of Asian American Leaders (IDEAAL). Throughout the development process, the
    product has evolved from a simple Directory to shifting the focus on the
    Family Tree. We hope you appreciate the novelty of being able to see
    connections made in IDEAL through the use of the Family Tree while also
    utilizing the functionality of the Directory.<br><br>

    For help with using this app’s features, please visit the ‘Help’ tab
    accessible from the navigation bar above.
</p>