// This file is to be used as a styleguide for the Directory page.
// There should be no inline CSS within index.html.erb

.heading {
    text-align: center;
}

.major      { grid-area: major; text-align: left;}
.minor      { grid-area: minor; text-align: left;}
.prof_track { grid-area: prof_track; text-align: left;}
.grad_year  { grid-area: grad_year; text-align: left;}
.data       { grid-area: data; }

.directory .grid-container {
    display: grid;
    grid-template-areas:
        'major data'
        'minor data'
        'prof_track data'
        'grad_year data'
        'buttons data';
    text-align: center;
    gap: 10px;
}

.directory .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
}

.directory hr {
    width: 250px;
    margin-left: 70px;
}

.directory .buttons {
    grid-area: buttons;
    text-align: left;
    margin-left: 70px;
}