// Please make sure to use the ".form" prefix before each
// tag to make them specific to the Edit and Sign Up Pages


.form form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 25%;
}

.form select {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 25%;
}

.form label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 25%;
}

.form i {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 25%;
}

.form em {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 25%;
}

.form input {
    margin-left: 25%;
}

.form hr {
    width: 400px;
    //display: flex;
    justify-content: center;
    //flex-direction: column;
    //margin-left: 25%;
}

.form p {
    font-size: 13px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 25%;
}

.form button {
    padding-right: 0px;
}

// The following is just for the deletion button.

