// This file is to be used as a baseline styleguide for all pages.

h1 {
    font-size: 24px; 
    font-weight: bold;
    margin-left: 70px;
    margin-right: 70px;
}
h2 {
    font-size: 18px;
    font-weight: bold;
    margin-left: 70px;
    margin-right: 70px;
}
h3 {
    font-size: 14px;
    font-weight: bold;
    margin-left: 70px;
    margin-right: 70px;
}
p {
    font-size: 12px;
    margin-left: 70px;
    margin-right: 70px;
}


select {
    margin-left: 70px;
    margin-right: 70px;
}

table {
    position: relative;
    top: -30px;
    border-collapse:separate;
    border-radius:6px;
}

thead {
    background-color: #2cc0d1;
}

tbody {
    background-color: #e2f3f5;
}

td, th {
    border-left:solid black 1px;
    border-top:solid black 1px;
}

th {
    border-top: none;
}

td:first-child, th:first-child {
     border-left: none;
}