// This file is to be used as a baseline styleguide for all pages.

h1 {
    margin-left: 70px;
    margin-right: 70px;
}
h2 {
    margin-left: 70px;
    margin-right: 70px;
}
h3 {
    margin-left: 70px;
    margin-right: 70px;
}
p {
    margin-left: 70px;
    margin-right: 70px;
}
table {
    margin-left: 70px;
    margin-right: 70px;
}
th {
    margin-left: 10px;
    margin-right: 10px;
}
select {
    margin-left: 70px;
    margin-right: 70px;
}