// This file is to be used as a baseline styleguide for all pages.

h1 {
    font-size: 24px; 
    font-weight: bold;
    margin-left: 70px;
    margin-right: 70px;
}
h2 {
    font-size: 18px;
    font-weight: bold;
    margin-left: 70px;
    margin-right: 70px;
}
h3 {
    font-size: 14px;
    font-weight: bold;
    margin-left: 70px;
    margin-right: 70px;
}
p {
    font-size: 12px;
    margin-left: 70px;
    margin-right: 70px;
}
table {
    margin-left: 70px;
    margin-right: 70px;
}
th {
    margin-left: 10px;
    margin-right: 10px;
}
select {
    margin-left: 70px;
    margin-right: 70px;
}