// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.tree {
	justify-content: center;
	margin-left: 20%;
	margin-right: 20%;
}
.group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 25px 40px;
	justify-content: center;
}
.group_l {
	display: flex;
	flex-direction: column;

}
.group_r {
	display: flex;
	flex-direction: column;
	
}
.list-group {
	border: 1px solid black;
	margin: 5px;
}
.director {
	display: flex;
	justify-content: center;
	margin: 40px;
}